<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Notes</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style2.css" type="text/css" rel="stylesheet">
    
  </head>
  <body class="home">
		
		<div class="container col-md-12 row">
				
				<div class="col-md-3 leftPanel length highlight"> 
				
					<span class="effect">

						<div class="col-md-12 topAlign text-center white">
							<h1 class="white"><span class="glyphicon glyphicon-trash"></span>Notes</h1>
							<b class="white">Writing made digital</b>
						</div>
					
					</span>
				
				</div>
				
				<div class="col-md-9">
                    <p class="white text-center" th:if="${emptyList}==true">
                        Your note library is empty... Add some notes... 
                    </p>
                                                            
                    <table border="0" th:if="${listNotEmpty}==true" class="table table-hover" id="notestable">
						<thead>
							<tr>
								<th class="col-md-1">No.</th>
								<th class="col-md-6">Notes</th>
								<th class="">Actions</th>
							</tr>
						</thead>
						<tbody id="body">
                        <div id="thover">


                            <a id="">


                                <tr th:each = "note, iterStat:${list}">
                                    <td  th:text="${iterStat.count}">    </td>
                                    <td>

                                            <div>
                                                <h4 th:text="${note.title}"> </h4>
                                                <p th:text="${note.content}"> </p>
                                            </div>


                                    </td>
                                    <td>
                                            <a href="/delete/1" th:href="@{/delete__${note.id}__}" class="btn btn-danger bn-sm"><span class="glyphicon glyphicon-trash"> </span> delete </a>

                                            <a href="/edit/1" th:href="@{/edit__${note.id}__}" class="btn btn-primary bn-sm"><span class="glyphicon glyphicon-pencil"> </span> edit </a>


                                    </td>
                                </tr>
                            </a>
                            <div id="tclose">X</div>

                        </div>
						</tbody>
					</table>
				</div>	
				
	
				<!--- footer -->
				<div class="text-center topAlign2">
					<i class="white">created and designed by leyeseyi</i>
				</div>
				<!--- end of footer -->
        </div> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/custom.js"></script>
  </body>
</html>